@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    @apply font-display;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background: #d1d5db;
  }

  ::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 99999px;
  }

  scrollbar-width: thin;
  scrollbar-color: #6b7280 #d1d5db;
}
